#pageMessages {
    position: fixed;
    bottom: 5px;
    left: 15px;
    width: 100%;
    font-family: IRANSans, serif;
}
@media screen and (min-width: 600px){
    #pageMessages{
        width: 400px;
        left: 5px;
    }
}

.alert {
    position: relative;
}

.alert .close {
    position: absolute;
    top: 5px;
    left: 5px;
    font-size: 1em;
}

.alert .fa {
    margin: 0 .3em;
}